<h1>Property Binding in Angular</h1>
<!-- Binding a value by property binding-->

<!-- The name is described in typescript file as a variable -->
<!-- It is better to use property binding for taking values from typescript -->
<input type="text" [disabled]="disabledBox" [value]="name"><br><br> 


<!-- Binding  a value by interpolation -->
<input type="text" disabled="{{disabledBox}}" value="{{name}}"><br><br>


<button (click)="enableTextbox()">Enable TextBox</button>
&nbsp; &nbsp;
<button (click)="disableBox(true)">Disable TextBox</button>
